<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Z1 App Pre..ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>107</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
				<key>dateExpires</key>
				<string>2/12/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AXPhotoViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AXStateButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>7.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>InteractiveTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.2.8.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Mobilisten.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RSClipperWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.32.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.32.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMoment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>107</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4676BA288ED8901036A646540B21D4740C26D01</string>
						<key>dateExpires</key>
						<string>2/12/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>358A96VMMP.com.z1.ios.ZNotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>358A96VMMP</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>ZNotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>a8eca0ba-af4d-48bd-b5f5-c83c5c3fe456</string>
						<key>dateExpires</key>
						<string>25/1/24</string>
						<key>name</key>
						<string>z1-app-development-notification-extension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358A96VMMP</string>
						<key>name</key>
						<string>ZILLENNIUM CO., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>358A96VMMP.com.z1.ios</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:z1supapp.page.link</string>
					<string>applinks:z1supappdev.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>358A96VMMP</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Z1.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>11bafc5e-63bf-4e8e-951a-adc09ef5ae0a</string>
				<key>dateExpires</key>
				<string>25/1/24</string>
				<key>name</key>
				<string>z1-app-development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>358A96VMMP</string>
				<key>name</key>
				<string>ZILLENNIUM CO., LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.5</string>
		</dict>
	</array>
</dict>
</plist>
