---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <ul class="blog-posts">
        {% for post in site.categories.z1 %}
        <li>
            <span>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </span>
            {{ post.start-date | date: "%b %-d, %Y" }} - {{ post.end-date | date: "%b %-d, %Y" }}
        </li>
        {% endfor %}

    </ul>

</main>

{% include footer-blog.html %}

</body>

</html>